*
{
    box-sizing: border-box;
}
body
{
    background-color: #EEF9BF;
}
.flex
{
    display: flex;
}
.roboto
{
    font-family: 'Roboto', sans-serif;
}

.header
{
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
}
.header-title
{
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
    text-align: center;
    margin: 0 40px 0;
}

.game
{
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 80px 34px;
    gap: 34px;
}

.pair
{
    flex-direction: column;
    gap: 34px;
}

.card
{
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.front-parrot
{
    width: 100px;
    height: 100px;
}

@media (max-width: 620px)
{
    .header-title
    {
        font-size: 36px;
    }
}